@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?er08zy');
  src:  url('../fonts/icomoon.eot?er08zy#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?er08zy') format('truetype'),
    url('../fonts/icomoon.woff?er08zy') format('woff'),
    url('../fonts/icomoon.svg?er08zy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-geo-alt:before {
  content: "\e900";
}
.icon-globe:before {
  content: "\e901";
}
.icon-reception-4:before {
  content: "\e902";
}
